.demo{
    position: fixed;
}
.LeftSidebarContainer{
    color: red;
    background-color: #E5E5E5;
    /* height: 100vh; */
    width: 380px;
    /* height: fit-content; */
    padding-left: 50px;
    height: 89vh;
}
.logo{
    margin-top:25px ;
}
.button{
    border: none;
    background-color: #E5E5E5;
    border: 2px solid #445EE2;
    width: auto;
    height: 40px;
    border-radius: 5px;
    margin-top: 40px;
    
}
.buttonFile{
    border: none;
    background-color: #E5E5E5;
    border: 2px solid #445EE2;
    /* width: 120px; */
    width: auto;
    height: 40px;
    border-radius: 5px;
    /* margin-left: 5px; */
    margin-top: 40px;
    transition: 0.6s;
}
.buttonFile:hover{
    background-color: white;
}

.buttonFolder{
    border: none;
    background-color: #E5E5E5;
    border: 2px solid #445EE2;
    /* width: 120px; */
    width: auto;
    height: 40px;
    border-radius: 5px;
    /* margin-left: 5px; */
    margin-top: 40px;
    margin-left: 50px;
    transition: 0.6s;
}
.buttonFolder:hover{
    background-color: white;
}

.file{
    /* width: 20px; */
    /* padding: 10px; */
}
.name{
    color: #445EE2;
    font-weight: 700;
    font-size: 14px;
    font-family: DM sans-serif;
    font-weight: bold;
    margin: auto;
    margin-left: 12px;
}

.folderContainer{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 320px;
    /* width: auto; */
    width: 82%;
    overflow: auto;
}
.addFolder{
    background-color: #EBF0F5;
    color: #697584;
    font-family: DM Sans;
    font-style: Regular;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
}
.addFolderActive{
    background-color: #010934;
}
.warning{
    color: red;
    /* text-align: center; */
    /* margin-top: 10px; */
    font-weight: bold;
    position: fixed;
}

.buttonLock{
    /* width: auto; */
    width: 82%;
    text-align: center;
    /* margin-left: 10%; */
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 25px;
    background-color: #445EE2;
    border: none;
    /* border: 2px solid #445EE2; */
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.buttonLock:hover{ 
    /* background-color: rgb(100, 102, 112, 0.4); */
    background-color: #010934;
}
.lockIcon{
    margin-left: 20px;
}
.lockName{
    color: white;
    /* padding-left: 10px; */
    /* margin: auto; */
    margin-left: 8px;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(211, 193, 193); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #445EE2; 
    border-radius: 10px;
  }
  
  


















.RightContainer{
    width: 900px;
    /* height: 90vh; */
    background-color: white;
    padding-right: 40px;
}
.right{
    float: right;
}
.buttonSetting{
    border: none;
    width: auto;
    height: 40px;
    border-radius: 5px;
    margin-left: 50px;
    background-color: white;
    border: 1px solid #566474;
    margin-top: 40px;
    transition: 0.5s;
}
.buttonSetting:hover{
    background-color: rgb(100, 102, 112, 0.2);
}
.buttonLogout{
    border: none;
    width: auto;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #566474;
    margin-left: 10px;
    margin-top: 40px;
    transition: 0.5s;
}
.buttonLogout:hover{
    background-color: rgb(100, 102, 112, 0.2);
}
.folderName{
    margin-top: 12%;
    margin-bottom: 15px;
    margin-left: 50px;
    font-family: DM Sans;
    font-style: Regular;
    font-size: 18px;
    color: #566474;
    letter-spacing: 1px;
}

.border{
    /* border: 1px solid #EBF0F5;  */
    border: 1px solid black; 
    width: 94%; 
    /* margin-bottom: 5%; */
    margin-left: 50px;
}

.fileContainer{
    margin-left: 50px;
}