.LeftSidebarContainer{
    color: red;
    background-color: #E5E5E5;
    /* height: 100vh; */
    width: 380px;
    padding-left: 50px;
}
.logo{
    margin-top:25px ;
}
.button{
    border: none;
    background-color: #E5E5E5;
    border: 2px solid #445EE2;
    width: auto;
    height: 40px;
    border-radius: 5px;
    margin-top: 40px;
    
}
.buttonFile{
    border: none;
    background-color: #E5E5E5;
    border: 2px solid #445EE2;
    /* width: 120px; */
    width: auto;
    height: 40px;
    border-radius: 5px;
    /* margin-left: 5px; */
    margin-top: 40px;
    transition: 0.6s;
}
.buttonFile:hover{
    background-color: white;
}

.buttonFolder{
    border: none;
    background-color: #E5E5E5;
    border: 2px solid #445EE2;
    /* width: 120px; */
    width: auto;
    height: 40px;
    border-radius: 5px;
    /* margin-left: 5px; */
    margin-top: 40px;
    margin-left: 50px;
    transition: 0.6s;
}
.buttonFolder:hover{
    background-color: white;
}

.file{
    /* width: 20px; */
    /* padding: 10px; */
}
.name{
    color: #445EE2;
    font-weight: 700;
    font-size: 14px;
    font-family: DM sans-serif;
    font-weight: bold;
    margin: auto;
    margin-left: 12px;
}

.addedFolders{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 320px;
    width: auto;
}

.buttonLock{
    width: auto;
    text-align: center;
    margin-left: 10%;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 10px;
    background-color: #445EE2;
    border: none;
    border: 2px solid #445EE2;
    width: auto;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.buttonLock:hover{ 
    background-color: rgb(100, 102, 112, 0.4);
}
.lockName{
    color: white;
    padding-left: 10px;
    margin: auto;
}


















.RightContainer{
    width: 900px;
    /* height: 90vh; */
    background-color: white;
    padding-right: 40px;
}
.right{
    float: right;
}
.buttonSetting{
    border: none;
    width: auto;
    height: 40px;
    border-radius: 5px;
    margin-left: 50px;
    background-color: white;
    border: 1px solid #566474;
    margin-top: 40px;
    transition: 0.5s;
}
.buttonSetting:hover{
    background-color: rgb(100, 102, 112, 0.2);

}
.buttonLogout{
    border: none;
    width: auto;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #566474;
    margin-left: 10px;
    margin-top: 40px;
    transition: 0.5s;
}
.buttonLogout:hover{
    background-color: rgb(100, 102, 112, 0.2);
}
