.LockContainer{
    width: 400px;
    height: 306px;
    border-radius: 10px;
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.lock{
    /* width: 100px; */
    width: auto;
    /* height: 100px; */
    height: auto;
    /* border-radius: 50%; */
    /* background-color: white; */
}
.name{
    color: 
    #1E272E;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}


.passcodeButton{

    margin-top: 25px;
    border: none;
    border: 2px solid #445EE2;
    background-color: #445EE2;
    color: white;
    /* width: 120px; */
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: 0.6s;
}


