.demo{
    position: fixed;
    background-color: rgba(30, 39, 46, 0.9);
    /* height: 100vh; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
/* @keyframes mymove {
    from {left: 0px;}
    to {left: 130px;}
    from {background-color: rgba(30, 39, 46);}
    to {background-color: rgba(30, 39, 46, 0.9);}
} */
.LockContainer{
    width: 400px;
    height: 306px;
    border-radius: 10px;
    /* margin: 50px; */
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    /* position: fixed; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}


.lock{
    width: auto;
    height: auto;
}
.name{
    color: 
    #1E272E;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}


.passcodeButton{

    margin-top: 25px;
    border: none;
    border: 2px solid #445EE2;
    background-color: #445EE2;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: 0.6s;
}

.warning{
    color: red;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    /* position: absolute; */
}
