.folderContainer{
    position: fixed;
    background-color: rgba(30, 39, 46, 0.9);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;

}   
.LockContainer{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}
.inputContainer{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.setName{
    color: 
    #1E272E;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
label{
    font-family: DM Sans;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 6px;
    color: #566474;
    font-weight: bold;
}
input[type="password"], [type='text']{
    outline: none;
    border: 1px solid #9EAAB7;
    border-radius: 4px;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
}


.ChangeButton{
    margin-top: 45px;
    border: none;
    /* border: 2px solid #445EE2; */
    background-color: #142683;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: 0.6s;
} 
.warning{
    color: red;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.success{
    text-align: center;
    margin-top: 10px;
    color:  RGB(25, 135, 84);
    font-weight: bold;
}
